Repository ErwanCheriaux/RESTfulAPI, changes with the labels that .github/labeler.yml gives for each.
All labels: projet, settings, api, web, test, readme, docker, kubernetes, ci

.github/labeler.yml:

projet:
  - "**/*.csproj"
  - "*.sln"

settings:
  - "**/Settings/**"
  - "**/Properties/**"
  - "**/*settings*.json"
  - ".vscode/**"

api:
  - "MountainBike.Api/**/*.cs"

web:
  - "MountainBike.Web/**"

test:
  - "tests/**/*.cs"

readme:
  - "README.md"

docker:
  - "**/Dokerfile"
  - "**/.dockerignore"

kubernetes:
  - "**/Kubernetes/**"

ci:
  - ".github/**"

add authentication with a static api key
  README.md
  src/MountainBike.Api/Authentication/AuthConstants.cs
  src/MountainBike.Api/Authentication/AuthMiddleware.cs
  src/MountainBike.Api/Program.cs
Labels: readme

npm init react-app web-app
  README.React.md
  src/web-app/.gitignore
  src/web-app/package-lock.json
  src/web-app/package.json
  src/web-app/public/favicon.ico
  src/web-app/public/index.html
  src/web-app/public/logo192.png
  src/web-app/public/logo512.png
  src/web-app/public/manifest.json
  src/web-app/public/robots.txt
  src/web-app/src/App.css
  src/web-app/src/App.js
  src/web-app/src/App.test.js
  src/web-app/src/index.css
  src/web-app/src/index.js
  src/web-app/src/logo.svg
  src/web-app/src/reportWebVitals.js
  src/web-app/src/setupTests.js
Labels: none

npm install --save-dev @babel/plugin-proposal-private-property-in-object
  src/web-app/package-lock.json
  src/web-app/package.json
Labels: none

add new components bike list and bike form
  src/web-app/src/App.js
  src/web-app/src/Components/BikeForm.js
  src/web-app/src/Components/BikeList.js
Labels: none

dotnet add package Microsoft.AspNetCore.Cors
  src/MountainBike.Api/MountainBike.Api.csproj
Labels: projet

client use GET and POST bikes API
  src/web-app/src/Components/BikeList.js
Labels: none

fix Cross-Origin Request Blocked issue
  src/MountainBike.Api/Program.cs
  src/MountainBike.Api/appsettings.json
  src/MountainBike.Services/Settings/ReactClientSettings.cs
Labels: settings

use function instead of const
  src/web-app/src/App.js
  src/web-app/src/Components/BikeForm.js
  src/web-app/src/Components/BikeList.js
Labels: none

rename js files into jsx
  src/web-app/src/App.jsx
  src/web-app/src/Components/BikeForm.jsx
  src/web-app/src/Components/BikeList.jsx
Labels: none

display bikes in a table
  src/web-app/src/App.jsx
  src/web-app/src/Components/BikeTable.jsx
Labels: none

add delete button calling DELETE bikes
  src/web-app/src/Components/BikeTable.jsx
Labels: none

fix bike form props
  src/web-app/src/Components/BikeForm.jsx
Labels: none

add autoFocus and required
  src/web-app/src/Components/BikeForm.jsx
Labels: none

npm install react-bootstrap bootstrap
  src/web-app/package-lock.json
  src/web-app/package.json
Labels: none

fix node warning
  src/web-app/src/Components/BikeTable.jsx
Labels: none

apply bootstrap table and form
  src/web-app/src/App.jsx
  src/web-app/src/Components/BikeForm.jsx
  src/web-app/src/Components/BikeTable.jsx
  src/web-app/src/index.js
Labels: none

use a drop down list for size
  src/web-app/src/Components/BikeForm.jsx
Labels: none

add placeHolder and key in ddl
  src/web-app/src/Components/BikeForm.jsx
Labels: none

add title to bike form and update placeholder
  src/web-app/src/Components/BikeForm.jsx
Labels: none

add bootstarp form validation
  src/web-app/src/Components/BikeForm.jsx
Labels: none

[wip] add edit button
  src/web-app/src/Components/BikeEditModal.jsx
  src/web-app/src/Components/BikeForm.jsx
  src/web-app/src/Components/BikeTable.jsx
Labels: none

refactor formRed = useRef()
  src/web-app/src/Components/BikeEditModal.jsx
  src/web-app/src/Components/BikeForm.jsx
Labels: none

add edit button calling PUT bikes
  src/web-app/src/Components/BikeForm.jsx
  src/web-app/src/Components/BikeTable.jsx
Labels: none

fix node warning
  src/web-app/src/Components/BikeTable.jsx
Labels: none

add tabs and tab
  src/web-app/src/App.jsx
Labels: none

refactor bike components
  src/web-app/src/Components/BikeEditModal.jsx
  src/web-app/src/Components/BikeForm.jsx
  src/web-app/src/Components/BikeTable.jsx
Labels: none

add rider components
  src/web-app/src/App.jsx
  src/web-app/src/Components/RiderEditModal.jsx
  src/web-app/src/Components/RiderForm.jsx
  src/web-app/src/Components/RiderTable.jsx
Labels: none

change rider dto to return birthdate
  src/MountainBike.Api/Controllers/RiderController.cs
  src/MountainBike.Api/Dtos.cs
  src/MountainBike.Api/Extensions.cs
  src/MountainBike.Services/Services/BikeService.cs
  src/MountainBike.Services/Services/RiderService.cs
  src/web-app/src/Components/RiderTable.jsx
  tests/MountainBike.Api.UnitTests/RiderControllerTests.cs
Labels: test

use date type in rider form
  src/web-app/src/Components/RiderForm.jsx
Labels: none

add bike select
  src/web-app/src/App.jsx
  src/web-app/src/Components/BikeEditModal.jsx
  src/web-app/src/Components/BikeForm.jsx
  src/web-app/src/Components/BikeSelect.jsx
  src/web-app/src/Components/BikeTable.jsx
  src/web-app/src/Components/RiderEditModal.jsx
  src/web-app/src/Components/RiderForm.jsx
  src/web-app/src/Components/RiderTable.jsx
Labels: none

add rider id in bike dto
  src/MountainBike.Api/Controllers/BikeController.cs
  src/MountainBike.Api/Dtos.cs
  src/MountainBike.Api/Extensions.cs
Labels: none

add PATCH method to set, update or remove rider bike
  src/MountainBike.Api/Controllers/RiderController.cs
  src/MountainBike.Services/Services/BikeService.cs
Labels: none

bike select ddl call PATCH to manage rider bike
  src/web-app/src/App.jsx
  src/web-app/src/Components/BikeSelect.jsx
  src/web-app/src/Components/BikeTable.jsx
  src/web-app/src/Components/RiderTable.jsx
Labels: none

remove existing bikes assigned to rider when deleted
  src/MountainBike.Services/Services/RiderService.cs
  src/web-app/src/Components/RiderTable.jsx
Labels: none

clean old endpoint and add tests for PATCH rider bike
  src/MountainBike.Api/Controllers/RiderController.cs
  tests/MountainBike.Api.UnitTests/RiderControllerTests.cs
Labels: test

add jest for App and Tables components
  src/web-app/src/App.test.js
  src/web-app/src/tests/App.test.js
  src/web-app/src/tests/BikeTable.test.js
  src/web-app/src/tests/RiderTable.test.js
Labels: none

Create node.js.yml
  .github/workflows/node.js.yml
Labels: ci

add working-directory in 'use node' step
  .github/workflows/node.js.yml
Labels: ci

add path in Checkout Repository step
  .github/workflows/node.js.yml
Labels: ci

add cache-dependency-path and default working-directory
  .github/workflows/node.js.yml
Labels: ci
