Repository ErwanCheriaux/RESTfulAPI, changes with the labels that .github/labeler.yml gives for each.
All labels: projet, settings, api, services, web, test, readme, docker, kubernetes, ci

update web app icon
  frontend/public/cycling_mountain_bike.ico
  frontend/public/cycling_mountain_bike128.png
  frontend/public/cycling_mountain_bike512.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/App.css
  frontend/src/index.css
  frontend/src/logo.svg
Labels: web

add server endpoint in config.json
  README.md
  backend/src/MountainBike.Api/Program.cs
  frontend/src/App.jsx
  frontend/src/components/BikeSelect.jsx
  frontend/src/components/BikeTable.jsx
  frontend/src/components/RiderTable.jsx
  frontend/src/config.json
Labels: api, web

frontend docker init
  .dockerignore
  frontend/Dockerfile
Labels: web, docker

docker frontend valid
  backend/.dockerignore
  frontend/.dockerignore
  frontend/Dockerfile
Labels: web, docker

[wip] docker compose full stack
  backend/Dockerfile
  backend/compose.yaml
  compose.yaml
Labels: none

docker compose full stack
  compose.yaml
Labels: none

npm install dotenv --save
  frontend/package-lock.json
  frontend/package.json
Labels: web

dotenv REACT_APP_SERVER_URL
  frontend/.env
  frontend/.env.production
  frontend/src/App.jsx
  frontend/src/components/BikeSelect.jsx
  frontend/src/components/BikeTable.jsx
  frontend/src/components/RiderTable.jsx
Labels: web

update docker ci
  .github/workflows/docker-image-backend.yml
  .github/workflows/docker-image-frontend.yml
Labels: ci

.github/labeler.yml:

projet:
  - "**/*.csproj"
  - "*.sln"

settings:
  - "**/Settings/**"
  - "**/Properties/**"
  - "**/*settings*.json"
  - ".vscode/**"

api:
  - "**/MountainBike.Api/**/*.cs"

services:
  - "**/MountainBike.Services/**/*.cs"

web:
  - "frontend/**"

test:
  - "**/tests/**"

readme:
  - "README.*.md"

docker:
  - "**/Dokerfile"
  - "**/.dockerignore"

kubernetes:
  - "**/Kubernetes/**"

ci:
  - ".github/**"
